﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Project_01._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>AppyData</h1>
        <p class="lead">Contributors: Kyrstin Kauchak (Project Manager), Josh McCoy (Technical Manager/Tester), Addy Price (Developer), Shihao Xia (Developer), Danielle McCarthy (Data Layer)</p>
        <p></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p>
            </p>
            <p>
            </p>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <p>
            </p>
            <p>
            </p>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <p>
            </p>
            <p>
            </p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

</asp:Content>
