﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="RoleAuthError.aspx.cs" Inherits="Project_01.RoleAuthError" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1>You are not authorized to access this feature</h1>
</asp:Content>
