﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button class="btn btn-primary" style="float: right;">Sort</button>
    <button class="btn btn-primary" style="float: right;">Filter</button>
    <h5 class="display-4">Apps</h5>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
            <a href="/AppOne" class="btn btn-primary">App 1</a>
        </div>
    </div>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
            <a href="/AppTwo" class="btn btn-primary">App 2</a>
        </div>
    </div>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
            <a href="/AppThree" class="btn btn-primary">App 3</a>
        </div>
    </div>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
            <a href="/AppFour" class="btn btn-primary">App 4</a>
        </div>
    </div>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
            <a href="/AppFive" class="btn btn-primary">App 5</a>
        </div>
    </div>
</div>
